$--color-white: #fff !default;
$--color-grey: #c9ced6 !default;
$--color-black: #0a1f44 !default;
$--color-blue: #0c66ff !default;
$--color-green: #0bb07b !default;
$--color-orange: #ffbb38 !default;
$--color-red: #f03d3d !default;

$--color-facebook: #3b5999 !default;
$--color-twitter: #1da1f2 !default;
$--color-google-plus: #dd4b39 !default;
$--color-youtube: #f00 !default;
$--color-github: #222 !default;

$color-primary: #37cda9;
$color-lighter: #fbfbfb;
$color-light: #d6d6d6;
$color-base: #7d858e;
$color-dark: #2f3c49;
$color-darker: #151b21;
