// ========================================================
// Swiper
// ========================================================

.swiper-button {
  width: 52px !important;
  height: 52px !important;
  background-size: 52px 52px !important;
  &::after {
    color: $--color-cyan !important;
    @media (min-width: $--md) {
      content: '' !important;
    }
  }
  &:focus {
    outline: none !important;
  }
  &-prev {
    right: auto !important;
    left: 3% !important;
    @media (min-width: $--md) {
      background-image: url('~assets/images/others/swiper-arrow-prev.png') !important;
    }
  }
  &-next {
    right: 3% !important;
    left: auto !important;
    @media (min-width: $--md) {
      background-image: url('~assets/images/others/swiper-arrow-next.png') !important;
    }
  }
}

.swiper-pagination-bullet {
  background: #d0d0d0 !important;
  opacity: 0.6 !important;
  &-active {
    background: rgb(78, 204, 253) !important;
    opacity: 1 !important;
  }
  &:focus {
    outline: none !important;
  }
}
