body {
  color: $--color-white;
  background: url('~assets/images/background.png') no-repeat;
  background-attachment: fixed;
  background-size: cover;

  &.modal-showing {
    padding-right: 17px;
    overflow: hidden;
  }
}
main {
  max-width: 1920px;
  margin: auto;
}
.area-section {
  width: 100%;
  margin-top: 10rem;
}
.compact-container {
  width: 1050px;
  max-width: 1920px;
  padding: 0;
  margin: auto;
}

@media (max-width: 1200px) {
  body {
    font-family: $font-family-base;
  }
  .compact-container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 15px;
  }
  body {
    &.modal-showing {
      padding-right: 0;
      overflow: hidden;
    }
  }
  .area-section {
    margin-top: 10rem;
  }
}

@media (max-width: 480px) {
  .area-section {
    margin-top: 5rem;
  }
}
